
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&family=Bona+Nova:ital@0;1&family=Crimson+Text:ital@1&family=Lato:ital,wght@0,400;1,300&family=Quicksand:wght@400;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 body {
  font-family: 'CrimsonText', sans-serif;  

  margin: 0;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('./side.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: This keeps the background fixed when scrolling */
  background-position: center center;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
